/*-----------------------------------------------------------------------------------

    Template Name: Sample - Corporate Business Bootstrap4 HTML5 Template
    Template URI: site.com
    Description: Sample - Corporate Business Bootstrap4 HTML5 Template
    Author: BasicTheme
    Author URI: site.com
    Version: 1.0

-----------------------------------------------------------------------------------

    CSS INDEX
    ===================

    01. Theme default CSS	

-----------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/
/* 1. Theme default css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #00235a;
  line-height: 26px; }

.w-img img {
  width: 100%; }

.m-img img {
  max-width: 100%; }

/* a,
.btn {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; } */

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; }

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0;
  border: 0; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: #000;
  margin-top: 0px;
  font-style: normal;
  font-weight: 700;
  text-transform: normal;
  line-height: 1;
   }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #00235a; }

h1 {
  font-size: 40px;
  font-weight: 300; 
  line-height: 40px;
}

h2 {
  font-size: 37px !important;
  font-weight: bold !important;
  }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #00235a;
  margin-bottom: 15px;
  line-height: 26px; }

hr {
  border-bottom: 1px solid #eceff8;
  border-top: 0 none;
  margin: 30px 0;
  padding: 0; }
.btn.focus, .btn:focus{
  box-shadow: none;
}
label {
  color: #000000;
  font-size: 14px;
  font-weight: 400; }

*::-moz-selection {
  background: #ff5e14;
  color: #ffffff;
  text-shadow: none; }

::-moz-selection {
  background: #ff5e14;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background: #ff5e14;
  color: #ffffff;
  text-shadow: none; }

.btn{
  font-size: 15px;
  font-weight: bold;
  background-color: #324E8F;
  border-color: #324E8F;
  border: none;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none !important;
}
label {
  display: inline-block;
  margin-bottom: 13px;
  font-size: 15px;
  font-weight: bold;
}
.blue{
  color:#477BA1;
}
.ln-17{
  line-height: 17px !important;
}
.ln-18{
  line-height: 18px !important;
}
.ln-24{
  line-height: 24px !important;
}
.ln-26{
  line-height: 26px !important;
}
.ln-45{
  line-height: 45px !important;
}
.ln-48{
  line-height: 48px !important;
}
.ln-50{
  line-height: 50px !important;
}
.font-12{
  font-size: 12px !important;
}
.font-14{
  font-size: 14px !important;
}
.font-15{
  font-size: 15px !important;
}
.font-16{
  font-size: 16px !important;
}
.blue-back{
  background-color: #324E8F !important;
}
.px-93{
  padding: 0px 93px !important;
}

.font-roboto{
  font-family: 'Roboto', sans-serif;;
}
.font-weight-medium{
  font-weight: 500;
}

/*--
    - Input Placeholder
-----------------------------------------*/
/**::-moz-placeholder {
  color: red;
  font-size: 14px;
  opacity: 1; }

*::placeholder {
  color: red;
  font-size: 14px;
  opacity: 1; }*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #477BA1 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #477BA1 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #477BA1 !important;
}

.create-pass ::-webkit-input-placeholder,.declined ::-webkit-input-placeholder{
  color: #C5CDDA !important;
}
/*--
    - Common Classes
-----------------------------------------*/
.fix {
  overflow: hidden; }

.clear {
  clear: both; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute; }

/*--
    - Background color
-----------------------------------------*/
.grey-bg {
  background: #fafaf8; }

.grey-bg-2 {
  background: #f1f9ff; }

.white-bg {
  background: #ffffff; }

.black-bg {
  background: #00235a; }

.black-soft-bg {
  background: #f2faff; }

.footer-bg {
  background: #001940; }

.footer-bottom-bg {
  background: #00122f; }

.theme-bg {
  background: #ff5e14; }

.btn-primary:hover {
  color: #fff;
  background-color: #324E8F;
  border-color: #324E8F;
}
/* .btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #324E8F;
  border-color: #324E8F;
  box-shadow: none;
} */

.btn-filter:hover{
  border-color: #324E8F !important;
  color: #000 !important;
}
/* .btn-filter:focus,.btn-filter:active{
  border-color: #324E8F !important;
  color: #000 !important;
} */

/*--
    - color
-----------------------------------------*/
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #ffffff; }

.white-color {
  color: #ffffff; }
.dark-color {
  color: #324E8F; 
}
.black-color {
  color: #00235a; }

.theme-color {
  color: #ff5e14; }
.theme-gray{
  color: #7C7C7C;
}
.mb-66{
  margin-bottom: 66px !important;
}
.mb-21{
  margin-bottom: 21px !important;
}
.mb-24{
  margin-bottom: 21px !important;
}
.text-orange{
  color:#EF7A7A
}
.text-green{
  color:#2AAE63
}
.report-shadow{
  border: none !important;
  box-shadow: 0px 2px 4px 0px rgb(96 97 112 / 16%);
}

.border-bottom{
  border-bottom: 1px solid #E9EDF3;
}

/*login style*/

.login-image{

}
.form-check {
    margin-top: 42px;
}
.form-check-label {
    margin-bottom: 0;
    /* align-self: center; */
    padding: 12px 56px 14px 0px !important;
}

img.login-logo{
  margin-right: -8px;
  margin-top: -4px;
}

.login h2 span{
  margin-left: 20px;
}
  

.form-control {
    padding: 11px 0px 15px 18px;
    color: #477BA1;
    border: 1px solid #E9EDF3;
    border-radius: 6px;
    
}
hr {
    border-bottom: 1px solid #D8D8D8;
    border-top: 0 none;
    margin: 67px 0 23px;
    padding: 0;
}
form.login-form {
    line-height: normal;
}
.form-group {
    margin-bottom: 25px;
}
.btn-login{
  padding: 12px 56px 14px 58px !important;
  line-height: 18px;
}

/*Tasks style*/
/* .app {
  position: relative;
  width: 100%;
  padding-left: 250px;
  min-height: 100vh;
  margin: 0 auto;
  left: 0;

} */

.app .content {
  padding: 105px 40px 85px 40px;
}
/* .app .content {
  padding: 105px 40px 85px 291px;
} */
.task-table{
  margin-top: 113px;
}
.sidebar-header {
  margin-bottom: 58.4px;
}
.header .header-block-nav .profile .img {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.page-titles{
  margin-bottom: 14px !important;
}
.sidebar {
  background-color: #324E8F;
  width: 251px;
  padding-bottom: 60px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-left: 30px;
  padding-top: 32px;
  color: #ffffff;
}
.sidebar  .logo {
  width: 172.99px;
}

.sidebar .menu .nav-link{
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  opacity: 0.5;
}
.sidebar .menu .nav-link.active{
  opacity: 1;
  color: #ffffff;
}
.sidebar .menu .nav-link img{
  padding-right: 16px;
}
#customize-menu {
  position: absolute;
  bottom:27px;
  left: 30px;
  
}
#customize-menu .nav-link{
  opacity: 1;
}
.btn-filter{
  color: #000;
  padding: 11px 26px 12px 21px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 24px;
}
.btn-add-task{
  padding: 11px 26px 12px 21px;
  font-size: 14px;
  line-height: 24px;
}
.btn-add-task img ,.btn-filter img{
  padding-right: 14px;
}

.table td{
  vertical-align: middle;
  border: none;
  padding: 14.3px 19px 27.2px !important;
}
.table th{
  vertical-align: middle;
  border: none;
  padding: 22px 19px 22px !important;
}

.table thead tr,
.table thead th {
  border: none;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
}
table.dataTable.no-footer {
  border-bottom: none;
}
table.dataTable thead th, table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: none;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #F5F7FA;
}

.nav-profile .dropdown-toggle::after{
  background-image: url('../img/down-arrow.svg');
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
  background-size: contain;
  border: none;
  vertical-align: middle;
}
/* create task */

.app .task-wrapper {
  padding: 80px 93px 85px 94px;
}

.task-form .form-control  {

  min-height: 48px;
  border-radius: 3px;
}

.create-task ::-webkit-input-placeholder ,.create-user ::-webkit-input-placeholder{
  color: #959393!important;
  font-size: 14px;
  line-height: 24px;
}
select#inputhour {
  color: black;
}
.create-task .form-group,.create-user .form-group {
  margin-bottom: 16px;
}
.form-control-file{
  background-image: url('../img/file-upload.svg');
  background-repeat: no-repeat;
  height: 87px;
  width: 100%;
  background-size: contain;
}
.create-task .page-titles h1,.create-user .page-titles h1 ,.task-details .page-titles h1,.task-approved .page-titles h1{
  margin: 10px 0px;
}
.create-task .page-titles ,.create-user .page-titles ,.task-details .page-titles,.task-approved .page-titles{
  margin-bottom: 15px !important;
}
.create-task .page-titles .title p ,.create-user .page-titles .title p ,.task-details .page-titles p ,.task-approved .page-titles .title p{
  color:#7C7C7C;
}
.btn-create-task,.btn-create-user {
  padding: 17px 0px 17px 0px !important;
  line-height: 32px;
  font-weight: bold;
  font-size: 18px;
}

/* task details */
.task-list .list-group-item,.task-approved .list-group-item {
  border: 1px solid #E9EDF3;
  padding: 14px 0px 15px 0px;
}
.task-list .list-group-item p,.task-approved .list-group-item p{
  color:#9EA5B2 ;
  margin-bottom: 0;
  line-height: 24px;

}
.notification-layout span.approval {
  color: #96A1B4;
}
.task-list .list-group-item p:first-child ,.task-approved .list-group-item p:first-child {
  margin-right: 57px;
}
.task-list .list-group-item p time,.task-approved .list-group-item p time{
  color: #000;
}

.task-wrapper .card-deck .card  {
  margin-right: 4px;
  margin-bottom: 0;
  margin-left: 4px;
  border-radius: 0;
  border: none;
}
.task-wrapper .card-deck .card img.card-img-top  {
  border-radius: 0px;
}
.task-wrapper .card-deck {
  margin: 37px 0px 30px;
}
button.btn.btn-task-details-approve,button.btn.btn-task-details-decline,.btn-task-details-approved,.btn-task {
  margin-bottom: 10px;
  padding: 12px 0px 11px;
  border-radius: 3px;
  line-height: 32px;
  font-weight: bold;
  border: none;

}
button.btn.btn-task-details-decline{
  background-color: #FFEDED !important;
  border: none !important;
  color: #EF7A7A;
}
button.btn.btn-task-details-decline{
  background-color: #FFEDED !important;
  border: none !important;
  color: #EF7A7A;
}
.btn-task-details-approved{
  background-color: #2AAE63;
}

 .badge-approved {
  color: #fff;
  background-color: transparent !important;
  background-image: url(../img/approved-badge.svg);
  height: 34px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex !important;
}

.badge-declined{
  color: #fff;
  background-color: transparent !important;
  background-image: url(../img/declined.svg);
  height: 34px;
  width: 36px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex !important;
  background-size: contain;
}

.btn-task-details-declined{
  background-color: #EF7A7A !important;
  border: none !important;
  color: #fff;
}
.dot-pending {
  height: 9.1px;
  width: 8.95px;
  background-color: #FF8B42;
  border-radius: 50%;
  display: inline-block;
}
.dot-complete {
  height: 9.1px;
  width: 8.95px;
  background-color: #324E8F;
  border-radius: 50%;
  display: inline-block;
}


/* small latout  */

.navbar-dark .navbar-toggler-icon {
  background-image: url('../img/menu.svg');
  height: 23px;
  width: 32px;
  background-size: contain;
}

.small-layout .notification-icon{
  margin-right: 38.5px;
  width: 22.3px;
    height: 26px;
}
.small-layout .notification-icon .btn{
  background: transparent url('../img/bell.svg');
  background-repeat: no-repeat;
  width: 22.3px;
  height: 26px;
  background-size: contain;
 
}
.small-layout .mobile-task .btn{
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  background-size: contain;
}
#wrapper.toggled {
  padding-left: 251px;
}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper .sidebar {
  background-color: #324E8F;
  width: 0px;
  padding-bottom: 60px;
  position: fixed;
  top: 92px;
  bottom: 0;
  padding-left:0px;
  padding-top:0px;
  color: #ffffff;
  z-index: 1000;
  left: 251px;
  width: 0;
  height: 100%;
  margin-left: -251px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* visibility: hidden; */
}
#wrapper.toggled .sidebar {
  width: 251px;
  /* visibility: visible; */
  
}


/* offcanvas menu  */

.offcanvas-active{
	overflow:hidden;
}

.screen-overlay {
  width:0%;
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}
.screen-overlay.show {
    transition:opacity .5s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
}

.offcanvas{
	width:100%;
	visibility: hidden;
	transform:translateX(-100%);
	transition:all .2s;
  border-radius:0; 
  box-shadow: 0 5px 10px rgba(0,0,0, .2);
	display:block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1200;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  visibility: visible;
}

.offcanvas.offcanvas-right {
   right: 0;
   left: auto;
   transform: translateX(100%); 
 }

.offcanvas.show{
	visibility: visible;
    transform: translateX(0);
    transition: transform .2s;
}

td.text-center.has-edit-delete .dropdown-menu {
    position: relative !important;
}
td.text-center.has-edit-delete .fa-ellipsis-h {
    cursor: pointer;
}
/*FJ CSS*/
button.btn.btn-filter.bg-transparent {
  border: 1px solid #324E8F;
}

.dataTables_wrapper thead th {
  color: #477BA1;
}
th.align-center.sorting_asc input[type="radio"] {
  margin-right: 10px;
}
.table td {
  vertical-align: middle;
  border: none;
  padding: 14.3px 19px 15.2px !important;
}
tr.weekend_tr{
  background-color: #fff;
}
tr.weekend_tr td {
  color: #000000;
  font-size: 14px;
  padding: 10px 20px !important;
}
table.dataTable tbody tr:nth-child(odd) {
  background: #fff;
}
table.dataTable tbody tr {
  background-color: #F5F7FA;
}

tr.weekend_tr td {
  color: #000000;
  font-size: 14px;
  padding: 15px 0px !important;
}
.table th {
  vertical-align: middle;
  border: none;
  padding: 22px 19px 15px !important;
}
.form-control-file {
  height: 130px;
  width: 100%;
  background-size: contain;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #ffffff;
}
ul.dropdown-menu-list {
  position: absolute;
  width: 100px;
  background: #fff;
  height: 100px;
  overflow: hidden;
  text-align: left;
}
ul.dropdown-menu-list a {
  background: #fff;
}
td.text-center.has-edit-delete {
  position: relative;
}
@media only screen and (min-width: 1200px) {
  .app {
    position: relative;
    width: 100%;
    padding-left: 250px;
    min-height: 100vh;
    margin: 0 auto;
    left: 0;
  }
  .header {

    position: absolute; 
    left: 250px;
    right: 25px;
    top: 23px;
   
  }
  #wrapper.toggled {
    padding-left: 251px;
    display: none;
  }
}
@media only screen and (min-width: 1221px) and (max-width: 1399px) {
  .header {
    position: absolute; 
    left: 250px;
    right: 25px;
    top: 23px;
   
  }
  h2 span {
    margin-left: 20px;
  }
  #wrapper.toggled {
    padding-left: 251px;
    display: none;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1220px) {
  .app {
    position: relative;
    width: 100%;
    padding-left: 250px;
    min-height: 100vh;
    margin: 0 auto;
    left: 0;
  }
  .header {

    position: absolute; 
    left: 250px;
    right: 25px;
    top: 23px;
   
  }
  /* .task-approved .col-lg-4 ,.task-details .col-lg-4{
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  } */
  .task-wrapper .col-lg-4{
    flex: 0 0 70%;
    max-width: 70%;
  }
  #wrapper.toggled {
    padding-left: 251px;
    display: none;
  }
  
}
@media only screen and (min-width: 993px) and (max-width: 1023px){
  .header {
    position: absolute; 
    left: 250px;
    right: 25px;
    top: 23px;
   
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px){}

/* tab */
@media only screen and (min-width: 768px) and (max-width: 1023px){

  #reports-list .user-pic{
    width: 72px;
    height: 72px;
  }
  #reports-list .list-check img{
    width: 50px;
    height: 50px;
  }
  #reports-list span.date{
    margin: 12px 30px 20px;
  }
  
  #reports-list .list-group-item{
    border-bottom:1px solid #E0E0E0 !important;
    border-radius: 0px;
    padding: 20px 48px 31px 25px;
  }
  #reports-list .list-group-item h3{
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    color: #263238;
  }
  #reports-list .list-group-item .date,#reports-list span.date{
    color: #BDBDBD;
    font-size: 20px;
  }
  #reports-list .list-group-item .list-image{
    margin-right: 20px;
  }
  .small-layout header{
    border: 1px solid #E0E0E0;
  }
  .small-layout header .header-block ,.small-layout .search-bar{
    margin: 27px 30px 14px;
    position: relative;
  }
  .small-layout .search-bar .form-control{
    border: 1px solid #C5CDDA;
    background-color: #F5F7FA;
    padding: 24px 0px 21px 65px;
  }
  .small-layout .search-bar ::-webkit-input-placeholder{
    font-size: 26px;
    font-weight: normal;
    line-height: 33px;
    color:  #C5CDDA;
  }

  .small-layout .search-bar ::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 21px;
    height: 25.09px;
    width: 24.25px;
    background-image: url(../img/search-icon.svg);
    overflow: hidden;
    background-size: cover
  }
  /* .small-layout .search-bar .form-control::before{
    content: '';
    background-image: url(../img/search-icon.svg);
    height: 25.09px;
    width: 24.25px;
    background-size: contain;
    position: absolute;
  } */
  .small-layout header .header-block h1,.mobile-title h1{
    font-size: 42px;
  }
  .app .task-wrapper {
    padding: 32px 25px 85px 26px;;
    
  }
  .create-user .task-wrapper,.create-task .task-wrapper{
    background-color: #F5F7FA;
  }
  .form-control-file {
    background-image: url(../img/file-upload.svg);
    background-repeat: no-repeat;
    height: 188px;
    width: 100%;
    background-size: contain;
  }

  .offcanvas header h1,.mobile-title h1{
    padding-top: 63px;
    padding-bottom: 16px;

  }
  .notification-layout #reports-list .list-group-item {
    border-bottom: 1px solid #E0E0E0 !important;
    border-radius: 0px;
    padding: 40px 27px 40px 25px;
  }
  .notification-layout #reports-list .user-pic{
    width: 92px;
    height: 92px;
  }
  .notification-layout #reports-list .list-group-item h3{
    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
    color:#263238;
  }
  .notification-layout #reports-list .list-group-item h3 span{
    font-size: 36px;
    line-height: 44px;
    font-weight: normal;
    color:#96A1B4;
  }
  .btn-close {
    background-image: url(../img/close-icon.svg);
    background-repeat: no-repeat;
    height: 31px;
    width: 17px;
    background-color: transparent;
    border: none;
    position: absolute;
    /* top: 200px; */
    bottom: 24px;
    left: 27px;
    background-size: contain;
  }
  .task-wrapper .card-deck .card {
    margin-bottom:4px;
  } 


  .login .login-sec{
    margin: 0;
    padding: 0;
  }
  /* .login .form-control {
    padding: 11px 0px 15px 18px;
    color: #477BA1;
    border: none;
    border-bottom: 1px solid #E9EDF3;
    border-radius: 0px;
  } */
  header.header.position-lg-absolute {
    padding: 27px 30px 14px;
    /* border: 1px solid; */
    border-bottom: 1px solid #E0E0E0;
  }
  .login .form-check-label {
    padding: 7px 10px 14px 0px !important;
  }
} 
/* Tablets Portrait or Landscape */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .app .task-wrapper {
    padding: 80px 25px 85px 26px;
    
  }
  .create-user .task-wrapper, .create-task .task-wrapper {
    background-color: #F5F7FA;
  }
}
 /* - Small tablet portrait */
@media only screen and (min-width: 480px) and (max-width: 599px) {
  .app .task-wrapper {
    padding: 80px 25px 85px 26px;
  }
  .create-user .task-wrapper, .create-task .task-wrapper {
    background-color: #F5F7FA;
  }
  .task-wrapper .card-deck .card {
    margin-bottom:4px;
  } 
} 
/* - Mobile landscape */
@media only screen and (max-width: 479px) {
  .app .task-wrapper {
    padding: 70px 25px 85px 26px;;
  
  }
  .create-user .task-wrapper, .create-task .task-wrapper {
    background-color: #F5F7FA;
  }
  .small-layout header .header-block h1{
    font-size: 42px;
  }
  .small-layout header .header-block ,.small-layout .search-bar{
    margin: 27px 30px 14px;
    position: relative;
  }
  .small-layout .search-bar ::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 21px;
    height: 25.09px;
    width: 24.25px;
    background-image: url(../img/search-icon.svg);
    overflow: hidden;
    background-size: cover
  }
  #reports-list .user-pic{
    width: 72px;
    height: 72px;
  }
  #reports-list .list-check img{
    width: 50px;
    height: 50px;
  }
  #reports-list span.date{
    margin: 12px 30px 20px;
  }
  
  #reports-list .list-group-item{
    border-bottom:1px solid #E0E0E0 !important;
    border-radius: 0px;
    padding: 20px 48px 31px 25px;
  }
  #reports-list .list-group-item h3{
    font-size: 25px;
    line-height: 36px;
    font-weight: normal;
    color: #263238;
  }
  #reports-list .list-group-item .date,#reports-list span.date{
    color: #BDBDBD;
    font-size: 20px;
  }
  #reports-list .list-group-item .list-image{
    margin-right: 20px;
  }
  .small-layout header{
    border: 1px solid #E0E0E0;
  }
  .small-layout header .header-block ,.small-layout .search-bar{
    margin: 27px 30px 14px;
  }
  .small-layout .search-bar .form-control{
    border: 1px solid #C5CDDA;
    background-color: #F5F7FA;
    padding: 24px 0px 21px 65px;
  }
  .small-layout .search-bar ::-webkit-input-placeholder{
    font-size: 26px;
    font-weight: normal;
    line-height: 33px;
    color:  #C5CDDA;
  }


  /* .small-layout .search-bar .form-control::after{
    width: 16px;
    content: " ";
    background-image: url(/img/border-left3.png);
    position: absolute;
    left: -16px;
    top: -6px;
    height:20px;
} */
  
  /* .small-layout .search-bar .form-control::before{
    content: '';
    background-image: url(../img/search-icon.svg);
    height: 25.09px;
    width: 24.25px;
    background-size: contain;
    position: absolute;
  } */
  #reports-list .list-group-item .list-id{
    display: none;
  }
  .form-control-file {
    background-image: url(../img/file-upload.svg);
    background-repeat: no-repeat;
    height: 93px;
    width: 100%;
    background-size: contain;
  }
  .offcanvas header h1 ,.mobile-title h1 {
    padding-top: 63px;
    padding-bottom: 16px;
  }
  .btn-close {
    background-image: url(../img/close-icon.svg);
    background-repeat: no-repeat;
    height: 31px;
    width: 17px;
    background-color: transparent;
    border: none;
    position: absolute;
    /* top: 200px; */
    bottom: 24px;
    left: 27px;
    background-size: contain;
  }
  .task-wrapper .card-deck .card {
    margin-bottom:4px;
  }
  header.header.position-lg-absolute {
    padding: 27px 30px 14px;
    /* border: 1px solid; */
    border-bottom: 1px solid #E0E0E0;
  } 
  .login .mobile-view{
    background-image: url('../img/login-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    vertical-align: middle;
    width: 100%;
    height: 100vh;
    background-position: center;
  }
  .login .offset-1.col-lg-5.login-sec.justify-content-center.align-self-center.text-center {
    margin: 0px !important;
    padding: 0px !important;
  }
  .login-text h2{
    color: #fff;
  }
  form.login-form {
    line-height: normal;
    padding: 66px 25px 16px 26px;
  }
  form.login-form .form-control {
    padding: 11px 0px 15px 18px;
    color: #477BA1;
    border: none;
    border-bottom: 1px solid #E9EDF3;
    border-radius: 0px;
  }
  form.login-form label {
    display: none;
    
  }
  form.login-form .form-control {
    text-align: center;
  }
  form.login-form .form-group {
    margin-bottom: 25px;
    padding: 0px 20px;
  }
  form.login-form .form-check {
    
    padding-left: 0;
  }
  form.login-form .btn-login {
    
    width: 100%;
    margin-bottom: 26px;
  }
  .login hr{
    display: none;
  }
  table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th.dtr-control:before {
    top: 0%;
    left: 5px;
    height: 1em;
    width: 1em;
    margin-top: -9px;
    display: block;
    position: absolute;
    color: white;
    border: 0.15em solid white;
    border-radius: 1em;
    box-shadow: 0 0 0.2em #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1em;
    content: '+';
    background-color: #31b131;
}
} 
/* - Mobile portrait */

@media only screen and (max-width: 414px) { 
  #reports-list .list-group-item .list-id{
    display: none;
  }
  #reports-list .list-group-item h3{
    font-size: 18px;
    line-height: 36px;
    font-weight: normal;
    color: #263238;
  }
  .small-layout header .header-block h1{
    font-size: 42px;
  }
  .app .task-wrapper {
    padding: 71px 25px 85px 26px;
  }
  .create-user .task-wrapper, .create-task .task-wrapper {
    background-color: #F5F7FA;
  }
  .form-control-file {
    background-image: url(../img/file-upload.svg);
    background-repeat: no-repeat;
    height: 82px;
    width: 100%;
    background-size: contain;
  }
  .offcanvas header h1,.mobile-title h1 {
    padding-top: 63px;
    padding-bottom: 16px;
  }
  .btn-close {
    background-image: url(../img/close-icon.svg);
    background-repeat: no-repeat;
    height: 31px;
    width: 17px;
    background-color: transparent;
    border: none;
    position: absolute;
    /* top: 200px; */
    bottom: 20px;
    left: 27px;
    background-size: contain;
  }
  .task-wrapper .card-deck .card {
    margin-bottom:4px;
  } 
  header.header.position-lg-absolute {
    padding: 27px 30px 14px;
    /* border: 1px solid; */
    border-bottom: 1px solid #E0E0E0;
  }
}
@media only screen and (max-width: 375px) { 
  .app .task-wrapper {
    padding: 71px 25px 85px 26px;
  }
  .create-user .task-wrapper, .create-task .task-wrapper {
    background-color: #F5F7FA;
  }
  .small-layout header .header-block h1{
    font-size: 35px;
  }
  #reports-list .list-group-item h3{
    font-size: 18px;
    line-height: 36px;
    font-weight: normal;
    color: #263238;
  }
  
  .form-control-file {
    background-image: url(../img/file-upload.svg);
    background-repeat: no-repeat;
    height: 80px;
    width: 100%;
    background-size: contain;
  }
  .offcanvas header h1 ,.mobile-title h1 {
    padding-top: 63px;
    padding-bottom: 16px;
  }
  .btn-close {
    background-image: url(../img/close-icon.svg);
    background-repeat: no-repeat;
    height: 31px;
    width: 17px;
    background-color: transparent;
    border: none;
    position: absolute;
    /* top: 200px; */
    bottom: 24px;
    left: 27px;
    background-size: contain;
  }
  .task-wrapper .card-deck .card {
    margin-bottom:4px;
  }
  header.header.position-lg-absolute {
    padding: 27px 30px 14px;
    /* border: 1px solid; */
    border-bottom: 1px solid #E0E0E0;
  }
}
@media only screen and (max-width: 360px) { 
  .small-layout .notification-icon {
    margin-right: 16.5px;
    width: 22.3px;
    height: 26px;
  } 
  #reports-list .user-pic {
    width: 60px;
    height: 60px;
  }
  .app .task-wrapper {
    padding: 80px 25px 85px 26px;
  }
  .create-user .task-wrapper, .create-task .task-wrapper {
    background-color: #F5F7FA;
  }
  #reports-list .list-group-item h3{
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #263238;
  }
  .form-control-file {
    background-image: url(../img/file-upload.svg);
    background-repeat: no-repeat;
    height: 178px;
    width: 100%;
    background-size: contain;
  }
  .offcanvas header h1,.mobile-title h1 {
    padding-top: 63px;
    padding-bottom: 16px;
  }
  .btn-close {
    background-image: url(../img/close-icon.svg);
    background-repeat: no-repeat;
    height: 31px;
    width: 17px;
    background-color: transparent;
    border: none;
    position: absolute;
    /* top: 200px; */
    bottom: 24px;
    left: 27px;
    background-size: contain;
  }
  header.header.position-lg-absolute {
    padding: 27px 30px 14px;
    /* border: 1px solid; */
    border-bottom: 1px solid #E0E0E0;
  }
}
@media only screen and (max-width: 320px) { 
  .app .task-wrapper {
    padding: 71px 25px 85px 26px;
  }
  .create-user .task-wrapper, .create-task .task-wrapper {
    background-color: #F5F7FA;
  }
  #reports-list .user-pic {
    width: 60px;
    height: 60px;
  }
  
  .small-layout .notification-icon {
    margin-right: 16.5px;
    width: 22.3px;
    height: 26px;
}
  #reports-list .list-group-item h3{
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    color: #263238;
  }
  #reports-list .list-group-item .date, #reports-list span.date {
    color: #BDBDBD;
    font-size: 13px;
  }
  .form-control-file {
    background-image: url(../img/file-upload.svg);
    background-repeat: no-repeat;
    height: 80px;
    width: 100%;
    background-size: contain;
  }
  .offcanvas header h1 ,.mobile-title h1{
    padding-top: 63px;
    padding-bottom: 16px;
    padding-left: 25px;
  }
  .btn-close {
    background-image: url(../img/close-icon.svg);
    background-repeat: no-repeat;
    height: 31px;
    width: 17px;
    background-color: transparent;
    border: none;
    position: absolute;
    /* top: 200px; */
    bottom: 24px;
    left: 17px;
    background-size: contain;
  }
  header.header.position-lg-absolute {
    padding: 27px 30px 14px;
    /* border: 1px solid; */
    border-bottom: 1px solid #E0E0E0;
  }
  #reports-list span.date {
    margin: 20px 30px 20px !important;
}
 }

/* new code fazle*/

@media only screen and (min-width: 240px) and (max-width: 767px) {
  .login .row{
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .login .col-lg-6.pr-0 {
    padding-left: 0;
}
.login-image {
  height: 100vh !important;
  width: 100%;
}
.offset-1.col-lg-5.login-sec.justify-content-center.align-self-center.text-center {
  padding-left: 0px;
  margin-left: 15px;
  padding-top: 25px;
}
/* .form-check.text-left button.btn.btn-login.float-right.btn-primary {
  text-align: left !important;
  float: left !important;
  margin-left: -20px;
} */
.form-check.text-left.pl-0 {
  padding-left: 20px !important;
}
/* .form-check.text-left button.btn.btn-login.float-right.btn-primary {
  text-align: left !important;
  float: left !important;
  margin-left: -20px;
  margin-right: 11px;
} */
.form-check-label {
  padding: 7px 56px 14px 0px !important;
}
h2.text-left.h2.mb-66 {
  margin-bottom: 40px !important;
}
hr {
  border-bottom: 1px solid #D8D8D8;
  border-top: 0 none;
  margin: 40px 0 23px;
  padding: 0;
}
/* .col-lg-6.pr-0.d-none.d-lg-block {
  display: block !important;
} */
/* .offset-lg-1.col-lg-5.col-sm-12.login-sec.justify-content-center.align-self-center.text-center {
  padding-top: 40px !important;
} */
.offset-lg-1.col-lg-5.col-sm-12.login-sec.justify-content-center.align-self-center.text-center h2.text-left.h2.mb-66.ln-45.text-white {
  margin-bottom: 0px !important;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
  .login .offset-1.col-lg-5.login-sec.justify-content-center.align-self-center.text-center {
    width: 50% !important;
  }
  .login .col-lg-6 {
    width: 50% !important;
  }
  .login .login-sec {
    margin: 0px;
    padding: 20px;
}
.form-check-label {
  padding: 7px 15px 14px 0px !important;
}
.login .offset-lg-1.col-lg-5.col-sm-12.login-sec.justify-content-center.align-self-center.text-center{
  width: 50% !important;
}
.login .col-lg-6 {
  width: 50% !important;
  float: left !important;
}
 }

 .nav-profile .dropdown-menu .btn
 {
  background-color:#fff !important;
  font-weight:500 !important;
 }